.search-column{
  background-color: rgb(79, 163, 180);
  color: white;
  padding: 10px;
  text-align: center;
  margin: 50px 700px;
}

header {
  background-color: rgb(81, 81, 156);
  color: white;
  text-align: center;
  padding: 20px;
}

#current-weather,
#future-five-days {
  background-color: rgb(115, 198, 243);
  color: blue;
  border: 5px solid rgb(226, 150, 219);
  text-align: center;
  padding: 10px;
}

