* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 700px) {
    .previous-search {
        width: calc(50% - 20px);
        margin: 5px 10px;
    }
}

@media screen and (min-width: 701px) {
    .col-sm-4 {
      flex: 0 0 calc(100% * 4 / 12);
    }

    .col-sm-8 {
      flex: 0 0 calc(100% * 8 / 12);
    }
}
 
@media screen and (min-width: 970px) {
    .col-lg-3 {
      flex: 0 0 calc(100% * 3 / 12);
    }
  
    .col-lg-9 {
      flex: 0 0 calc(100% * 9 / 12);
    }
}

@media screen and (min-width: 1360px) {
    .col-xl-2 {
      flex: 0 0 calc(100% * 2 / 12);
    }
}